@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500&family=Laila:wght@300;500&family=Open+Sans&family=Roboto:wght@100&family=Ubuntu:ital,wght@0,300;1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #1DCAD3;
  } 

  .form{
    padding-top: 50px;
  }

.logo{
    color: white;
    font-family: Inter;
}

.navbar { 
    display: flex;
    justify-content:space-around;
}

.nav-link{
   color: white;
   font-size: 21px;
   font-family: Inter;
}

.nav-link:hover{
    color: rgba(0, 4, 255, 0.356);
 }

.wrapper{
    padding:0 0 100px;
}

.wrapper .logo img{
    max-width: 60%;
}

.wrapper .cadunico-info {
    font-size: 13px;
}


.wrapper input:focus {
    box-shadow: none;
}

.wrapper .submit_btn {
    padding: 10px;
    font-weight: 600;
}


.btn{
    background-color:  #1DCAD3;
    color: white;
    border: none;
    border-radius: 7px;
}


.btn:hover{
    background-color: #F28F8F;
}

.text{
    color: #1DCAD3;
}

.titulo-cadastro {
    color:#F28F8F;

}

.clique-aqui {
    color:#F28F8F;
    text-decoration: none;
    font-weight: bold;
}

.trocar-senha {
    color:#F28F8F;
    text-decoration: none;
    font-weight: bold;
}