<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home.css">
    <title>Home</title>
</head>

<body>

    <header class="p-3">
        <nav class="navegacao">

            <div class="logo">
               <h1>OurBabies</h1>
            </div>

            <ul class="nav">
            
                <li class="nav-item">
                    <a class="nav-link" href="/cadastro-usuario">Cadastrar</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/somos">Quem somos</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/login">Entrar</a>
                </li>

            </ul>
        </nav>
    </header>

    <main>

        <section class="section1">
            <div class="b-example-divider">

                <div class="container col-xxl-8 px-4 py-5">
                    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                        <div class="col-10 col-sm-8 col-lg-6">
                            <img src="/images/Baby-cuate.png" class="d-block mx-lg-auto img-fluid" alt="Imagem ilustrativa de um bebê(a)."
                                width="500" height="600" loading="lazy">
                        </div>

                        <div class="col-lg-6">
                        
                            
                             <h1 class="titulo">Seja bem-vindo</h1>  
                             <p class="lead">Queremos ajudar você, mamãe e papai, que não tem
                                condições de dar tudo que o seu bebê merece. Aqui você pode encontrar 
                                roupas, sapatos, brinquedos, móveis e muitas outras coisas que 
                                um bebê necessita. Se você chegou aqui e tem algo para doar, cadastre-se como
                                doador, além de fazer a doação você pode solicitar ao donatário um serviço que
                                você precisa.
                                .</p>

                               <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                                <button type="button" class="btn btn-lg px-4 me-md-3"> <a class="link" href="/cadastro-usuario">Cadastre-se para ser doador </a></button>
                            </div>
                        </div>
                    </div>
                </div>
        </section>



        <section class="section2">
            <div class="info">

                <div class="container marketing">
                    <hr class="featurette-divider">

                     <div class="row featurette p-5">
                       
                        <div class="col-md-7 p-4">
                            <h2 class="featurette-heading"> <span class="text-muted">Objetivo</span></h2>
                            <p class="lead">Ajudar, por meio de doações solidárias, famílias que passam por
                                situações de extrema pobreza e vulnerabilidade social. Visto que para fazer o enxoval completo
                                de um bebê, infelizmente, nessecita-se de um recurso alto, pensamos em facilitar essa etapa 
                                importante na vida das mamães conectando algumas mães que já não utilizam mais parte do seu
                                enxoval com mães que não estão em condições de comprá-lo.</p>
                        </div>
                       
                        <div class="col-md-5">                   
                            <img src="/images/mãe.jpg" class=" imagem img-fluid mx-auto ">             
                        </div>
                    </div>

                    <hr class="featurette-divider">
 
                    <div class="row featurette p-5">
                       
                        <div class="col-md-7 p-4 order-md-1">
                            <h2 class="featurette-heading"> <span class="text-muted">Como funciona?</span></h2>
                            <p class="lead">Se você chegou até aqui para realizar uma doação, basta cadastrar-se 
                                como doador, fazer o anúncio do produto a ser doado e descrever com o máximo de 
                                detalhes possíveis como será feito o serviço que você está solicitando.</p>
                                <p class="lead">Se chegou em busca de algo que o seu bebê necessita, você
                                     pode se cadastrar como donatário e procurar o melhor produto para o seu anjinho.
                                     Só não se esqueça de colocar o número do seu Cad. Único ao realizar o cadastro em
                                     nosso site!</p>
                        </div>
                       
                        <div class="col-md-5">                   
                            <img src="/images/brinquedo.jpg" class="imagem1 img-fluid mx-auto ">             
                        </div>
                    </div>
                    
                   
                    <hr class="featurette-divider">

                

        </section>
        <footer class="container p-5">
            <p class="float-end"><a class="link-rodape" href="#">Voltar ao topo</a></p>
            <p>© 2022 OurBabies, Inc. <a class="link-rodape" href="#">Termos</a> · <a class="link-rodape" href="/somos">Quem
                    somos</a></p>
        </footer>



    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>