<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home-logado.css">
    <title>Home</title>
</head>

<body style="min-width:372px;">

    <header class="p-3">
        <nav class="navegacao">

            <div class="logo">
                <h1>OurBabies</h1>
            </div>

            <ul class="nav">

                <li class="nav-item">
                    <a class="nav-link" href="/cadastro-doador">Doar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cadastro-donatario">Receber</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/somos">Quem somos</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/login">Sair</a>
                </li>

            </ul>
        </nav>
    </header>

    <main>
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active " data-bs-interval="3000">
                <img src="./assets/images/brinquedos.png" class="d-block w-95 carrosel" height="300" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Brinquedos</h5>
                  <p>Brinquedos em bom estado esperando seu novo amigo(a).</p>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="3000">
                <img src="./assets/images/berço.jpg" class="d-block w-95 carrosel" height="300" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Berços</h5>
                  <p>Berços em estado excelente prontos para aconchegar o seu bebê.</p>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="3000">
                <img src="./assets/images/roupas-usadas.png" class="d-block w-95 carrosel" height="300" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Roupas</h5>
                  <p>Roupas semi-novas e usadas que vão se adequar perfeitamente ao seu bebê.</p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
            <hr class="mt-3"  />
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-5">
                    <form>
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control" placeholder="Digite aqui o que procura">
                            <button class="btn btn-danger">
                                Buscar
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-12 col-md-7">
                    <div class="d-flex flex-row-reverse justify-content-center justify-content-md-start">
                        <form class="ml-3 d-inline-block">
                            <select class="form-select form-select-sm">
                                <option>Ordernar pelo nome</option>
                                <option>Ordernar pelo categoria</option>
                                <option>Ordernar pelo serviço</option>
                            </select>
                        </form>
                    </div>
                </div>
            </div>
            <hr class="mt-3">
            <div class="row">
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch">
                    <div class="card text-center bg-light">
                        <img src="./assets/images/01.webp" class="card-img-top">
                        <div class="card-header">
                            <p> Serviço: Faxina </p>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Boneca LOL</h5>
                            <p class="card-text">
                                Boneca em bom estado, pronta para encontrar um novo lar.
                            </p>
                        </div>
                        <div class="card-footer">
                            <form class="d-block">
                                <button>
                                    Adicionar a lista de pedidos
                                </button>
                            </form>
                            <small class="text-sucess"> 1 ano e meio de uso </small>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch">
                    <div class="card text-center bg-light">
                        <img src="./assets/images/05.jpg" class="card-img-top">
                        <div class="card-header">
                            Serviço: Babá
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Casaquinho vermelho</h5>
                            <p class="card-text">
                                Casquinho vermelho masculino.
                            </p>
                        </div>
                        <div class="card-footer">
                            <form class="d-block">
                                <button>
                                    Adicionar a lista de pedidos
                                </button>
                            </form>
                            <small class="text-sucess"> 2 meses de uso. </small>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch">
                    <div class="card text-center bg-light">
                        <img src="./assets/images/09.jpg" class="card-img-top">
                        <div class="card-header">
                            <p> Serviço: Encanador(a)</p>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Berço</h5>
                            <p class="card-text">
                                Berço americano de madeira, em bom estado.
                            </p>
                        </div>
                        <div class="card-footer">
                            <form class="d-block">
                                <button>
                                    Adicionar a lista de pedidos
                                </button>
                            </form>
                            <small class="text-sucess"> 2 anos de uso </small>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch">
                    <div class="card text-center bg-light">
                        <img src="./assets/images/02.png" class="card-img-top">
                        <div class="card-header">
                            <p>
                                <p> Serviço: Cuidador(a) </p>
                            </p>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Boneco transformer</h5>
                            <p class="card-text">
                                Boneco transformer, em bom estado de uso.
                            </p>
                        </div>
                        <div class="card-footer">
                            <form class="d-block">
                                <button>
                                    Adicionar a lista de pedidos
                                </button>
                            </form>
                            <small class="text-sucess"> 6 meses de uso </small>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch">
                    <div class="card text-center bg-light">
                        <img src="./assets/images/06.jfif" class="card-img-top">
                        <div class="card-header">
                            Serviço: Outros
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Body infantil</h5>
                            <p class="card-text">
                                Body infantil rosa mal foi usado pela minha neném.
                            </p>
                        </div>
                        <div class="card-footer">
                            <form class="d-block">
                                <button>
                                    Adicionar a lista de pedidos
                                </button>
                            </form>
                            <small class="text-sucess"> 1 Mês de uso </small>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch">
                    <div class="card text-center bg-light">
                        <img src="./assets/images/10.jpg" class="card-img-top">
                        <div class="card-header">
                            Serviço: Faxina
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Berço</h5>
                            <p class="card-text">
                                Berço semi-novo em ótimo estado de uso.
                            </p>
                        </div>
                        <div class="card-footer">
                            <form class="d-block">
                                <button>
                                    Adicionar a lista de pedidos
                                </button>
                            </form>
                            <small class="text-sucess"> 1 ano e meio de uso </small>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch">
                    <div class="card text-center bg-light">
                        <img src="./assets/images/03.webp" class="card-img-top">
                        <div class="card-header">
                            Serviço: Babá
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Boneca infantil</h5>
                            <p class="card-text">
                                Boneca infantil de vestidinho rosa, está em bom estado.
                            </p>
                        </div>
                        <div class="card-footer">
                            <form class="d-block">
                                <button>
                                    Adicionar a lista de pedidos
                                </button>
                            </form>
                            <small class="text-sucess"> 2 anos e meio de uso </small>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch">
                    <div class="card text-center bg-light">
                        <img src="./assets/images/07.jfif" class="card-img-top">
                        <div class="card-header">
                            Serviço: Cuidador(a)
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Conjuntinho masculino</h5>
                            <p class="card-text">
                                Conjunto infantil masculino de ursinho pronto para doação.
                            </p>
                        </div>
                        <div class="card-footer">
                            <form class="d-block">
                                <button>
                                    Adicionar a lista de pedidos
                                </button>
                            </form>
                            <small class="text-sucess"> 2 meses de uso </small>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch">
                    <div class="card text-center bg-light">
                        <img src="./assets/images/11.jpg" class="card-img-top">
                        <div class="card-header">
                            Serviço: Faxina
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Berço</h5>
                            <p class="card-text">
                                Berço americano em MDF, foi muito bem cuidado e está esperando um novo lar.
                            </p>
                        </div>
                        <div class="card-footer">
                            <form class="d-block">
                                <button>
                                    Adicionar a lista de pedidos
                                </button>
                            </form>
                            <small class="text-sucess"> 1 ano de uso </small>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch">
                    <div class="card text-center bg-light">
                        <img src="./assets/images/04.png" class="card-img-top">
                        <div class="card-header">
                            Serviço: Outros
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Boneca infantil</h5>
                            <p class="card-text">
                                Boneca VickBaby em perfeito estado, infelizmente minha filha não brincou muito com ela.
                            </p>
                        </div>
                        <div class="card-footer">
                            <form class="d-block">
                                <button>
                                    Adicionar a lista de pedidos
                                </button>
                            </form>
                            <small class="text-sucess"> 1 mês e meio de uso </small>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch">
                    <div class="card text-center bg-light">
                        <img src="./assets/images/08.jpg" class="card-img-top">
                        <div class="card-header">
                            Serviço: Encanador
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Pijama de Pinguin</h5>
                            <p class="card-text">
                                Pijaminha de pinguin feminino, pouquissímo tempo de uso.
                            </p>
                        </div>
                        <div class="card-footer">
                            <form class="d-block">
                                <button>
                                    Adicionar a lista de pedidos
                                </button>
                            </form>
                            <small class="text-sucess"> 1 Mês de uso </small>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch">
                    <div class="card text-center bg-light">
                        <img src="./assets/images/12.webp" class="card-img-top">
                        <div class="card-header">
                            Serviço: Outros
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Berço</h5>
                            <p class="card-text">
                                Berço de madeira maciça, está em bom estado de uso.
                            </p>
                        </div>
                        <div class="card-footer">
                            <form class="d-block">
                                <button>
                                    Adicionar a lista de pedidos
                                </button>
                            </form>
                            <small class="text-sucess"> 8 Meses de uso. </small>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="mt-3">
    </main>
    <footer class="container p-5">
        <p class="float-end"><a class="link-rodape" href="#">Voltar ao topo</a></p>
        <p>© 2022 OurBabies, Inc. <a class="link-rodape" href="#">Termos</a> · <a class="link-rodape"
                href="./somos.html">Quem
                somos</a></p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>